extends ../layouts/main.pug

block title
	title My Page - About

block meta
	meta(name='description' content='About page')
	meta(name='keywords', content='about, page')
	meta(name='author' content='')

block content

	// Menu
	+header('about')

	//- Desktop page
	section
		h1 About
