extends ../layouts/main.pug

block title
	title My Page - Contact

block meta
	meta(name='description' content='Contact page')
	meta(name='keywords', content='contact, page')
	meta(name='author' content='')

block content

	// Menu
	+header('contact')

	section
		h1 Contact
