extends ../layouts/main.pug

block title
	title My Page - Home

block meta
	meta(name='description' content='Home page')
	meta(name='keywords', content='home, page')
	meta(name='author' content='')

block content

	// Menu
	+header('home')

	//- Desktop page
	section
		h1 Home
