extends ../../layouts/main.pug

block title
	title My Page - Blog

block meta
	meta(name='description' content='Blog page')
	meta(name='keywords', content='blog, page')
	meta(name='author' content='')

block content

	+header('blog')

	section
		h1 Blog

