extends ../../layouts/main.pug

block title
	title My Page - Blog post

block meta
	meta(name='description' content='Blog postpage')
	meta(name='keywords', content='blog, page, post')
	meta(name='author' content='')

block content

	// Menu
	+header('blog-post')

	//- Desktop page
	section
		h1 Blog Post
